body{
	width:100%;
	margin:auto;
}
.clearfix::after{
	content:"";
	width: 0;
	height: 0;
	font-size:0;
	display: block;
	clear:both;
}

.div1{
	width: 1000px;
    margin:auto;
    height: 80px;
}
.div1 img{
	float:left;
}
.div1 ul{
	margin:0px;
}
.div1 li{
	float:right;
	list-style:none;
    padding:0 10px;
    margin:30px auto;
    border-left:1px solid rgba(238,238,238,1);
    border-top:3px solid rgba(40,113,213,0);
    padding:27px 15px;
    margin:0px;
}
.div1 .li5{
	border-right:1px solid rgba(238,238,238,1);
}
.div1 .li1,
.div1 li:hover{
	color:rgba(40,113,213,1);
    border-top:3px solid rgba(40,113,213,1);
}


.div2{
	height:400px;
    background:url(../images/beijing.jpg)center;
}
.div2 .div21{
	position:relative;
	top:200px;
	left:820px;
	width: 235px;
	height: 68px;
	background:url(../images/3.gif);
}
.div2 a:hover .div21{
   background:url(../images/2.gif);
}
.div2 a:active .div21
{
	background:url(../images/4.gif);
}

.div3{
	width: 1000px;
	height:auto;
	margin:10px auto;
}
.div3 div{
	padding-left:25px;
	float:right;
	margin:0px auto;
}
.div3 div ul{
	padding:0px;
}
.div3 .div33{
		width:300px;
        height:150px;
        position: relative;
	}	
.div3 .div33 ul{
	  width:300px;
      height:150px;
      overflow:hidden;
}
.div3 .div33 ul img{
		 transform:translatey(0px);
        transition:all .1s;
	}
.div3 .div33 ul img:hover{
	transform:translatey(-30px);
}
.div3 .div33 ul li p{
	    position:absolute;
        bottom:-32px;
        z-index:10;
	    width:300px;
        height:30px;
        color:#fff;
        background-color:rgba(0,0,0,0.5);
        text-align:center;
        line-height:30px;
}


.div4{
	width: 1000px;
	height: 200px;
	margin:50px auto;
}
h2{
	border-left:3px solid rgba(40,113,213,1);
	border-top: 1px solid rgba(238,238,238,1);
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 50px;
}
.div4 .ul2 li{
	float:left;
	list-style: none;
	margin:0px;
	padding:0px 45px 10px 0px;
}
.div4 .ul2 #li1{
	padding-left:0px;
	margin-left: 0px;
}
.div4 .ul2 li a{
	color:#565656;
	text-decoration: none;
}
.div4 .ul2 li a:hover{
	color:blue;
	text-decoration:underline;
}
.div4 .ul3 li{
	height:;
	float:left;
	list-style: none;
	margin:0px;
	padding:0px 25px 10px 20px;
}
.div4 .ul3 #li1{
	padding-left:0px;
	margin-left: 10px;
}
.div4 .ul3 li a{
	color:#9d9d9d;
	text-decoration: none;
}
.div4 .ul3 li a:hover{
	text-decoration:underline;
}

.div5{
	width: 1000px;
	margin: auto;
	text-align: center;
}
.div5 a{
	font-size: 12px;
	color:#565656;
	padding: 0px 10px;
    text-decoration: none;
    border-left:1px solid #565656;
}
.div5 .a1{
	border-left:none;
}
.div5 p{
	margin:5px 0px;
	font-size: 12px;
	color:#9d9d9d;
}